*
.First_screen{
    font-family: "Roboto", serif;
    height: 700px;
    width: 1920px;
    background-color: #EEEFF1;    
}
@media (max-width: 1440px){
    .First_screen{
        width: 1440px;
    }
}
@media (max-width: 1024px){
    .First_screen{
        width: 1024px;
    }
}
@media (max-width: 768px){
    .First_screen{
        width: 768px;
    }
}
@media (max-width: 425px){
    .First_screen{
        width: 425px;
        height: 630px;
    }
}
@media (max-width: 375px){
    .First_screen{
        width: 375px;
        height: 590px;
    }
}
/* device (1440px(-33%), 1024px(-30%), 768px(-33%), 425px(-80%), 375px(-15%)) */
.first_screen_menu{
    display: flex;
    padding-top: 79px;
    padding-left: 399px;
    height: 16px;
    width: 611px;
    gap: 42px;
    font-size: 16px;
    line-height: 26px;
    color: black;
    text-transform: uppercase;
}
@media (max-width: 1440px){
    .first_screen_menu{
        font-size: 18px;
    }
}
@media (max-width: 1024px){
    .first_screen_menu{
        font-size: 20px;
        padding-left: 200px;
        gap: 21px;
    }
}
@media (max-width: 768px){
    .first_screen_menu{
        font-size: 22px;
        padding-left: 100px;
        gap: 16px;
    }
}
@media (max-width: 425px){
    .first_screen_menu{
        font-size: 24px;
        padding-left: 150px;
        display: inline-block;
        height: 200px;
        padding-top: 40px;
        width: 225px;
    }
}@media (max-width: 375px){
    .first_screen_menu{
        font-size: 25px;
        padding-left: 130px;
        width: 245px;
    }
}
@media (max-width: 425px){
    .first_screen_menu_1{
        padding-top: 10px;
    }
}
@media (max-width: 425px){
    .first_screen_menu_2{
        padding-top: 10px;
    }
}
@media (max-width: 425px){
    .first_screen_menu_3{
        padding-top: 10px;
    }
}
@media (max-width: 425px){
    .first_screen_menu_4{
        padding-top: 10px;
    }
}
@media (max-width: 425px){
    .first_screen_menu_5{
        padding-top: 10px;
    }
}

.first-screen_menu :hover{
    color: #34547A;
}

.first_screen_box{
    width: 541px;
    height: 45px;
    padding-top: 162px;
    padding-left: 399px;
    color: black;
    font-size: 48px;
    line-height: 79px;
    font-weight: 500;
}
@media (max-width: 1440px){
    .first_screen_box{
        font-size: 50px;
    }
}
@media (max-width: 1024px){
    .first_screen_box{
        font-size: 52px;
        padding-left: 200px;
    }
}
@media (max-width: 768px){
    .first_screen_box{
        font-size: 54px;
        padding-left: 100px;
    }
}
@media (max-width: 425px){
    .first_screen_box{
        font-size: 40px;
        padding-left: 55px;
        padding-top: 60px;
    }
}
@media (max-width: 375px){
    .first_screen_box{
        font-size: 32px;
        padding-left: 50px;
        padding-top: 60px;
        width: 325px;
    }
}

.first_screen_content{
    width: 540px;
    height: 67px;
    padding-top: 60px;
    padding-left: 400px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
@media (max-width: 1440px){
    .first_screen_content{
        font-size: 18px;
    }
}
@media (max-width: 1024px){
    .first_screen_content{
        font-size: 20px;
        padding-left: 201px;
    }
}
@media (max-width: 768px){
    .first_screen_content{
        font-size: 22px;
        padding-left: 101px;
    }
}
@media (max-width: 425px){
    .first_screen_content{
        font-size: 18px;
        padding-left: 13px;
        padding-top: 20px;
        width: 415px;
    }
}
@media (max-width: 375px){
    .first_screen_content{
        font-size: 18px;
        padding-left: 13px;
        padding-top: 20px;
        width: 362px;
        height: 110px;
    }
}

.first_screen__button{
    padding-top: 65px;
    padding-left: 399px;
}
@media (max-width: 1024px){
    .first_screen__button{
        padding-left: 200px;
    }
}
@media (max-width: 768px){
    .first_screen__button{
        padding-left: 100px;
        padding-top: 75px;
    }
}
@media (max-width: 425px){
    .first_screen__button{
        padding-left: 80px;
        padding-top: 75px;
    }
}@media (max-width: 375px){
    .first_screen__button{
        padding-left: 0px;
        padding-top: 65px;
    }
}

.first_screen__button1{
    width: 225px;
    height: 65px;
    background-color: #34547A;
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
    letter-spacing: 10%;
    text-align: center;
    color: #ffffff;
    font-family: "Roboto", serif;
}
@media (max-width: 1440px){
    .first_screen__button1{
        font-size: 18px;
    }
}
@media (max-width: 1024px){
    .first_screen__button1{
        font-size: 20px;
    }
}
@media (max-width: 768px){
    .first_screen__button1{
        font-size: 22px;
    }
}
@media (max-width: 425px){
    .first_screen__button1{
        font-size: 18px;
        height: 50px;
        width: 270px;
    }
}
@media (max-width: 375px){
    .first_screen__button1{
        font-size: 20px;
        height: 50px;
        width: 375px;
    }
}

.screen_about_me{
    height: 359px;
    width: 1920px;
    background-color: #f9f9f9;
    font-family: "Roboto", serif;
}
@media (max-width: 1440px){
    .screen_about_me{
        width: 1440px;
    }
}
@media (max-width: 1024px){
    .screen_about_me{
        width: 1024px;
    }
}
@media (max-width: 768px){
    .screen_about_me{
        width: 768px;
    }
}
@media (max-width: 768px){
    .screen_about_me{
        width: 768px;
    }
}
@media (max-width: 425px){
    .screen_about_me{
        width: 425px;
        height: 230px;
    }
}
@media (max-width: 375px){
    .screen_about_me{
        width: 375px;
        height: 260px;
    }
}
.screen_about_me_text{
    width: 403px;
    height: 30px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    padding-left: 758px;
    padding-top: 112px;
}
@media (max-width: 1440px){
    .screen_about_me_text{
        font-size: 34px;
        padding-left: 558px;
    }
}
@media (max-width: 1024px){
    .screen_about_me_text{
        font-size: 36px;
        padding-left: 358px;
    }
}
@media (max-width: 768px){
    .screen_about_me_text{
        font-size: 38px;
        padding-left: 200px;
    }
}
@media (max-width: 425px){
    .screen_about_me_text{
        font-size: 28px;
        padding-left: 25px;
        padding-top: 30px;
        width: 400px;
    }
}
@media (max-width: 375px){
    .screen_about_me_text{
        font-size: 26px;
        padding-left: 20px;
        padding-top: 30px;
        width: 320px;
    }
}
.screen_about_me_content{
    padding-left: 690px;
    padding-top: 50px;
    width: 540px;
    height: 67px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}
@media (max-width: 1024px){
    .screen_about_me_content{
        font-size: 18px;
        padding-left: 480px;
    }
}
@media (max-width: 1024px){
    .screen_about_me_content{
        font-size: 20px;
        padding-left: 280px;
    }
}
@media (max-width: 768px){
    .screen_about_me_content{
        font-size: 22px;
        padding-left: 130px;
        padding-top: 35px;
    }
}
@media (max-width: 425px){
    .screen_about_me_content{
        font-size: 18px;
        padding-left: 10px;
        padding-top: 25px;
        width: 410px;
        height: 135px;
    }
}
@media (max-width: 375px){
    .screen_about_me_content{
        font-size: 18px;
        padding-left: 20px;
        padding-top: 25px;
        width: 320px;
        height: 135px;
    }
}
.numbers{
    width: 1920px;
    height: 250px;
    font-family: "Roboto", serif;
    background-color: #34547A;
    display: flex;
}
@media (max-width: 1440px){
    .numbers{
        width: 1440px;
    }
}
@media (max-width: 1024px){
    .numbers{
        width: 1024px;
    }
}
@media (max-width: 768px){
    .numbers{
        width: 768px;
        display: flex;
        flex-wrap: wrap;
        height: 300px;
    }
}
@media (max-width: 425px){
    .numbers{
        width: 425px;
        display: flex;
        flex-wrap: wrap;
        height: 400px;
    }
}
@media (max-width: 375px){
    .numbers{
        width: 375px;
        display: flex;
        flex-wrap: wrap;
        height: 530px;
    }
}

.numbers_item1{
    width: 141px;
    height: 50px;
    padding-top: 100px;
    padding-left: 409px;
    display: flex; 
}
@media (max-width: 1440px){
    .numbers_item1{
        padding-left: 200px;
    }
}
@media (max-width: 1024px){
    .numbers_item1{
        padding-left: 70px;
    }
}
@media (max-width: 768px){
    .numbers_item1{
        padding-left: 150px;
        padding-top: 50px;
    }
}
@media (max-width: 425px){
    .numbers_item1{
        padding-left: 160px;
        padding-top: 20px;
    }
}
@media (max-width: 375px){
    .numbers_item1{
        padding-left: 130px;
        padding-top: 20px;
    }
}

.img{
    width:50px;
    height: 50px;
}
.text_box{
    width: 71px;
    height: 41px;
    padding-left:20px;
    padding-top: 3px;
    color:#ffffff;
}
.group_text1{
    width: 36px;
    height: 19px;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
}
@media (max-width: 1440px){
    .group_text1{
        font-size: 23px;
    }
}
@media (max-width: 1024px){
    .group_text1{
        font-size: 25px;
    }
}
@media (max-width: 768px){
    .group_text1{
        font-size: 27px;
    }
}
@media (max-width: 425px){
    .group_text1{
        font-size: 24px;
    }
}
@media (max-width: 375px){
    .group_text1{
        font-size: 26px;
    }
}
.group_text2{
    width: 71px;
    height: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-top: 10px;
}
@media (max-width: 1440px){
    .group_text1{
        font-size: 18px;
    }
}
@media (max-width: 1024px){
    .group_text1{
        font-size: 20px;
    }
}
@media (max-width: 768px){
    .group_text1{
        font-size: 22px;
    }
}
@media (max-width: 425px){
    .group_text1{
        font-size: 20px;
    }
}
@media (max-width: 375px){
    .group_text1{
        font-size: 22px;
    }
}
.numbers_item2{
    width: 141px;
    height: 50px;
    padding-top: 100px;
    padding-left: 45px;
    display: flex; 
}
@media (max-width: 1024px){
    .numbers_item2{
        padding-left:10px;
    }
}
@media (max-width: 768px){
    .numbers_item2{
        padding-left: 30px;
        padding-top: 50px;
    }
}
@media (max-width: 425px){
    .numbers_item2{
        padding-left: 50px;
        padding-top: 30px;
    }
}
@media (max-width: 375px){
    .numbers_item2{
        padding-left: 130px;
        padding-top: 30px;
    }
}
.numbers_item3{
    width: 141px;
    height: 50px;
    padding-top: 100px;
    padding-left: 49px;
    display: flex; 
}
@media (max-width: 1024px){
    .numbers_item3{
        padding-left: 30px;
    }
}
@media (max-width: 768px){
    .numbers_item3{
        padding-left: 30px;
        padding-top: 50px;
    }
}
@media (max-width: 425px){
    .numbers_item3{
        padding-left: 50px;
        padding-top: 30px;
    }
}
@media (max-width: 375px){
    .numbers_item3{
        padding-left: 130px;
        padding-top: 30px;
    }
}
.numbers_item4{
    width: 141px;
    height: 50px;
    padding-top: 100px;
    padding-left: 49px;
    display: flex;
}
@media (max-width: 1024px){
    .numbers_item4{
        padding-left: 10px;
    }
}
@media (max-width: 768px){
    .numbers_item4{
        padding-left: 150px;
        padding-top: 10px;
    }
}
@media (max-width: 425px){
    .numbers_item4{
        padding-left: 160px;
        padding-top: 30px;
    }
}
@media (max-width: 375px){
    .numbers_item4{
        padding-left: 130px;
        padding-top: 30px;
    }
}
.numbers_item5{
    width: 141px;
    height: 50px;
    padding-top: 100px;
    padding-left: 49px;
    display: flex; 
}
@media (max-width: 1024px){
    .numbers_item5{
        padding-left: 10px;
    }
}
@media (max-width: 768px){
    .numbers_item5{
        padding-left: 30px;
        padding-top: 10px;
    }
}
@media (max-width: 425px){
    .numbers_item5{
        padding-left: 50px;
        padding-top: 30px;
    }
}
@media (max-width: 375px){
    .numbers_item5{
        padding-left: 130px;
        padding-top: 30px;
    }
}
.numbers_item6{
    width: 141px;
    height: 50px;
    padding-top: 100px;
    padding-left: 49px;
    display: flex; 
}
@media (max-width: 1024px){
    .numbers_item6{
        padding-left: 10px;
    }
}
@media (max-width: 768px){
    .numbers_item6{
        padding-left: 30px;
        padding-top: 10px;
    }
}
@media (max-width: 425px){
    .numbers_item6{
        padding-left: 50px;
        padding-top: 30px;
    }
}
@media (max-width: 375px){
    .numbers_item6{
        padding-left: 130px;
        padding-top: 30px;
    }
}
.video{
    width: 1920px;
    height: 1004px;
    background-color: #EEEFF1;
    font-family: "Roboto", serif;
}
@media (max-width: 1440px){
    .video{
        width: 1440px;
    }
}
@media (max-width: 1024px){
    .video{
        width: 1024px;
    }
}
@media (max-width: 768px){
    .video{
        width: 768px;
    }
}
@media (max-width: 425px){
    .video{
        width: 425px;
        height: 700px;
    }
}
@media (max-width: 375px){
    .video{
        width: 375px;
        height: 650px;
    }
}
.video_title{
    width: 540px;
    height: 147px;
    padding-top: 100px;
}
@media (max-width: 425px){
    .video_title{
        width: 425px;
        height: 120px;
        padding-top: 30px;
    }
}
@media (max-width: 375px){
    .video_title{
        width: 375px;
        height: 120px;
        padding-top: 30px;
    }
}

.video_title1{
    width: 403px;
    height: 30px;
    padding-left: 758px;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
}
@media (max-width: 1440px){
    .video_title1{
        padding-left: 558px;
        font-size: 34px;
    }
}
@media (max-width: 1024px){
    .video_title1{
        padding-left: 358px;
        font-size: 36px;
    }
}
@media (max-width: 768px){
    .video_title1{
        padding-left: 200px;
        font-size: 38px;
    }
}
@media (max-width: 425px){
    .video_title1{
        padding-left: 60px;
        font-size: 28px;
        width: 300px;
        height: 40px;
    }
}
@media (max-width: 375px){
    .video_title1{
        padding-left: 35px;
        font-size: 28px;
        width: 300px;
    }
}
.video_title_text{
    width: 540px;
    height: 67px;
    padding-top: 50px;
    padding-left: 690px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    color: #727272;
}
@media (max-width: 1440px){
    .video_title_text{
        padding-left: 490px;
        font-size: 18px;
    }
}
@media (max-width: 1024px){
    .video_title_text{
        padding-left: 290px;
        font-size: 20px;
    }
}
@media (max-width: 768px){
    .video_title_text{
        padding-left: 120px;
        font-size: 20px;
        line-height: 20px;
        padding-top: 30px;
    }
}
@media (max-width: 425px){
    .video_title_text{
        padding-left: 10px;
        font-size: 16px;
        line-height: 20px;
        padding-top: 15px;
        height: 150px;
        width: 405px;
    }
}
@media (max-width: 375px){
    .video_title_text{
        padding-left: 10px;
        font-size: 16px;
        line-height: 20px;
        padding-top: 10px;
        height: 150px;
        width: 365px;
    }
}
.img_vp{
    width: 1110px;
    height: 600px;
}
@media (max-width: 1024px){
    .img_vp{
        width: 1024px;
    }
}
@media (max-width: 768px){
    .img_vp{
        width: 768px;
    }
}
@media (max-width: 425px){
    .img_vp{
        width: 425px;
        height: 425px;
    }
}
@media (max-width: 375px){
    .img_vp{
        width: 375px;
        height: 375px;
    }
}
.video_player{
    width: 1110px;
    height: 600px;
    padding-top: 57px;
    padding-left: 405px;
    display: flex;
}
@media (max-width: 1440px){
    .video_player{
        padding-left: 203px;
    }
}
@media (max-width: 1024px){
    .video_player{
        padding-left: 0px;
        width: 1024px;
    }
}
@media (max-width: 768px){
    .video_player{
        padding-left: 0px;
        width: 768px;
    }
}
@media (max-width: 425px){
    .video_player{
        padding-left: 0px;
        width: 425px;
        height: 425px;
    }
}
@media (max-width: 375px){
    .video_player{
        padding-left: 0px;
        width: 375px;
        height: 375px;
    }
}
.video_player_img{
    width: 1110px;
    height: 600px;
    background: #000000A6;
    position: relative;
}
@media (max-width: 425px){
    .video_player_img{
        padding-left: 0px;
        width: 425px;
        height: 425px;
    }
}
@media (max-width: 375px){
    .video_player_img{
        padding-left: 0px;
        width: 375px;
        height: 375px;
    }
}

.video_player_play{
    padding-top:250px;
    padding-left: 505px;
    height: 100px;
    width: 100px;
    position: absolute;
}
@media (max-width: 768px){
    .video_player_play{
        padding-left: 384px;
    }
}
@media (max-width: 425px){
    .video_player_play{
        padding-left: 150px;
        padding-top: 150px;
    }
}

.footer{
  width: 1920px;
  height: 151px;
  background-color: #34547A;
  font-family: "Roboto", serif;
}
@media (max-width: 1440px){
    .footer{
        width: 1440px;
    }
}
@media (max-width: 1024px){
    .footer{
        width: 1024px;
    }
}
@media (max-width: 768px){
    .footer{
        width: 768px;
    }
}
@media (max-width: 425px){
    .footer{
        width: 425px;
    }
}
@media (max-width: 375px){
    .footer{
        width: 375px;
    }
}

.footer_name{
    width: 130px;
    height: 19px;
    padding-left: 406px;
    padding-top: 50px;
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    color: #ffffff;
}
@media (max-width: 1440px){
    .footer_name{
        padding-left: 203px;
    }
}
@media (max-width: 1024px){
    .footer_name{
        padding-left: 101px;
    }
}
@media (max-width: 768px){
    .footer_name{
        padding-left: 60px;
    }
}
@media (max-width: 425px){
    .footer_name{
        padding-left:170px;
        padding-top: 30px;
    }
}
@media (max-width: 375px){
    .footer_name{
        padding-left:130px;
        padding-top: 30px;
    }
}
.footer_text{
    width: 193px;
    height: 12px;
    padding-top: 20px;
    padding-left: 406px;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #ffffff;
}
@media (max-width: 1440px){
    .footer_text{
        padding-left: 203px;
        font-size: 15px;
    }
}
@media (max-width: 1024px){
    .footer_text{
        padding-left: 101px;
        font-size: 17px;
        line-height: 17px;
    }
}
@media (max-width: 768px){
    .footer_text{
        padding-left: 60px;
        font-size: 19px;
    }
}
@media (max-width: 425px){
    .footer_text{
        padding-left: 130px;
        font-size: 19px;
        text-align: center;
    }
}
@media (max-width: 375px){
    .footer_text{
        padding-left: 90px;
        font-size: 19px;
        text-align: center;
    }
}