
.main_conteiner{
    width: 100vw;
    height: 2464px;
}
@media (max-width: 1440px){
    .main_conteiner{
        width: 100vw;
        height: 100%;
    }
}
@media (max-width: 1024px){
    .main_conteiner{
        width: 100vw;
        height: 100%;
    }
}
@media (max-width: 768px){
    .main_conteiner{
        width: 100vw;
        height: 100%;
    }
}
@media (max-width: 425px){
    .main_conteiner{
        width: 100vw;
        height: 100%;
    }
}
@media (max-width: 375px){
    .main_conteiner{
        width: 100vw;
        height: 100%;
    }
}

.First_screen{
    font-family: "Roboto", serif;
    height: 30%;
    width: 100%;
    background-color: #EEEFF1;
    flex-wrap: wrap;
}
/* device (1440px(-33%), 1024px(-30%), 768px(-33%), 425px(-80%), 375px(-15%)) */
.first_screen_menu{
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
    padding-left: 21%;
    height: 2%;
    width: 100%;
    gap: 2%;
    font-size: 16px;
    line-height: 4%;
    color: black;
    text-transform: uppercase;
}
@media (max-width: 1440px){
    .first_screen_menu{
        font-size: 18px;
    }
}
@media (max-width: 1024px){
    .first_screen_menu{
        font-size: 20px;
    }
}
@media (max-width: 768px){
    .first_screen_menu{
        font-size: 22px;
        gap: 20px;
        width: 50%;
    }
}
@media (max-width: 425px){
    .first_screen_menu{
        font-size: 24px;
        gap: 30px;
    }
}@media (max-width: 375px){
    .first_screen_menu{
        font-size: 25px;
    }
}

.first-screen_menu :hover{
    color: #34547A;
}

.first_screen_box{
    width: 30%;
    height: 10%;
    padding-top: 10%;
    padding-left: 21%;
    color: black;
    font-size: 48px;
    line-height: 4%;
    font-weight: 500;
}
@media (max-width: 1440px){
    .first_screen_box{
        font-size: 50px;
        line-height: 59px;
    }
}
@media (max-width: 1024px){
    .first_screen_box{
        font-size: 52px;;
    }
}
@media (max-width: 768px){
    .first_screen_box{
        font-size: 54px;
    }
}
@media (max-width: 425px){
    .first_screen_box{
        font-size: 40px;
    }
}
@media (max-width: 375px){
    .first_screen_box{
        font-size: 32px;
    }
}

.first_screen_content{
    width: 50%;
    height: 10%;
    padding-top: 1%;
    padding-left: 21%;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
@media (max-width: 1440px){
    .first_screen_content{
        font-size: 18px;
    }
}
@media (max-width: 1024px){
    .first_screen_content{
        font-size: 20px;
    }
}
@media (max-width: 768px){
    .first_screen_content{
        font-size: 22px;
    }
}
@media (max-width: 425px){
    .first_screen_content{
        font-size: 18px;
    }
}
@media (max-width: 375px){
    .first_screen_content{
        font-size: 18px;
    }
}

.first_screen__button{
    padding-top: 3%;
    padding-left: 21%;
    height: 12%;
    padding-bottom: 3%;
}
@media (max-width: 425px){
    .first_screen__button{
        padding: 2% 0;
        width: 100%;
    }
}

.first_screen__button1{
    width: 14%;
    height: 100%;
    background-color: #34547A;
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
    letter-spacing: 10%;
    text-align: center;
    color: #ffffff;
    font-family: "Roboto", serif;
}
@media (max-width: 1440px){
    .first_screen__button1{
        font-size: 18px;
    }
}
@media (max-width: 1024px){
    .first_screen__button1{
        font-size: 20px;
        width: 40%;
    }
}
@media (max-width: 768px){
    .first_screen__button1{
        font-size: 22px;
        width: 60%;
    }
}
@media (max-width: 425px){
    .first_screen__button1{
        font-size: 18px;
        width: 100%;
    }
}
@media (max-width: 375px){
    .first_screen__button1{
        font-size: 20px;
    }
}

.screen_about_me{
    height: 10%;
    width: 100%;
    background-color: #f9f9f9;
    font-family: "Roboto", serif;
    padding-bottom: 2%;

}
.screen_about_me_text{
    width: 22%;
    height: 20%;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    padding-left: 40%;
    padding-top: 5%;
}
@media (max-width: 1440px){
    .screen_about_me_text{
        font-size: 34px;
    }
}
@media (max-width: 1024px){
    .screen_about_me_text{
        font-size: 36px;
    }
}
@media (max-width: 768px){
    .screen_about_me_text{
        font-size: 38px;
    }
}
@media (max-width: 425px){
    .screen_about_me_text{
        font-size: 28px;
    }
}
@media (max-width: 375px){
    .screen_about_me_text{
        font-size: 26px;
    }
}
.screen_about_me_content{
    padding-left: 35%;
    padding-top: 2%;
    width: 30%;
    height: 30%;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}
@media (max-width: 1440px){
    .screen_about_me_content{
        font-size: 18px;
        padding-bottom: 5%;
    }
}
@media (max-width: 1024px){
    .screen_about_me_content{
        font-size: 20px;
    }
}
@media (max-width: 768px){
    .screen_about_me_content{
        font-size: 22px;
        padding-bottom: 2%;
    }
}
@media (max-width: 425px){
    .screen_about_me_content{
        font-size: 18px;
    }
}
@media (max-width: 375px){
    .screen_about_me_content{
        font-size: 18px;
    }
}
.numbers{
    width: 100%;
    height: 10%;
    font-family: "Roboto", serif;
    background-color: #34547A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1%;
}
@media (max-width: 1440px){
    .numbers{
        gap: 5%;
    }
}
.numbers_item{
    width: 10%;
    height: 30%;
    display: flex;
    flex-wrap: nowrap;
}
@media (max-width: 1440px){
    .numbers_item{
        padding: 2% 10%;
    }
}
@media (max-width: 768px){
    .numbers_item{
        padding: 4% 20%;
    }
}

.img{
    width:50px;
    height: 50px;
}
.text_box{
    width: 50%;
    height: 50%;
    padding-left:5%;
    padding-top: 2%;
    color:#ffffff;
}
.group_text1{
    width: 50%;
    height: 40%;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
}
@media (max-width: 1440px){
    .group_text1{
        font-size: 23px;
    }
}
@media (max-width: 1024px){
    .group_text1{
        font-size: 25px;
    }
}
@media (max-width: 768px){
    .group_text1{
        font-size: 27px;
    }
}
@media (max-width: 425px){
    .group_text1{
        font-size: 24px;
    }
}
@media (max-width: 375px){
    .group_text1{
        font-size: 26px;
    }
}
.group_text2{
    width: 50%;
    height: 50%;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-top: 10%;
}
@media (max-width: 1440px){
    .group_text2{
        font-size: 18px;
    }
}
@media (max-width: 1024px){
    .group_text2{
        font-size: 20px;
    }
}
@media (max-width: 768px){
    .group_text2{
        font-size: 22px;
    }
}
@media (max-width: 425px){
    .group_text2{
        font-size: 20px;
    }
}
@media (max-width: 375px){
    .group_text{
        font-size: 22px;
    }
}
.video{
    width: 100%;
    height: 40%;
    background-color: #EEEFF1;
    font-family: "Roboto", serif;
    justify-content: center;
    align-items: center;
}
.video_title{
    width: 30%;
    height: 15%;
    padding-top: 5%;
}
.video_title1{
    width: 100%;
    height: 30%;
    padding-left: 120%;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
}
.video_title_text{
    width: 100%;
    height: 55%;
    padding-top: 3%;
    padding-left: 120%;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    color: #727272;
}
.img_vp{
    width: 100%;
    height: 100%;
}
.video_player{
    width: 58%;
    height: 60%;
    padding-top: 2%;
    padding-left: 20%;
    display: flex;
}
@media (max-width: 1440px){
    .video_player{
        padding-bottom: 10px;
    }
}
.video_player_img{
    width: 100%;
    height: 100%;
    background: #000000A6;
    position: relative;
}
.video_player_play{
    padding-top:12%;
    padding-left: 27%;
    height: 5%;
    width: 5%;
    position: absolute;
}
@media (max-width: 768px){
    .video_player_play{
        padding: 7% 23%;
    }
}
@media (max-width: 425px){
    .video_player_play{
        padding: 3% 18%;
    }
}

.footer{
  width: 100%;
  height: 5%;
  background-color: #34547A;
  font-family: "Roboto", serif;
}
@media (max-width: 1440px){
    .footer{
    padding: 1%;
    }
}

.footer_text{
    width: 100%;
    height: 20%;
    padding-top: 2%;
    padding-left: 21%;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #ffffff;
}
.footer_name{
    width: 100%;
    height: 20%;
    padding-top: 2%;
    padding-left: 21%;
    font-weight: 500;
    font-size: 21px;
    line-height: 100%;
    color: #ffffff;
}